html {
	height: 100%;/* new */
}
body {
	background-image: url("../img/brick.jpg");
	min-height: 98%;/* new */
	display:grid;/* new */
	/* grid-template-rows: 10% auto auto auto; */
	grid-template-rows: min-content auto auto min-content;
	align-items: end;
	/* align-items: stretch; */
}

a {
	padding: 3px;
}

header {
	width: 96vw;
	/* max-height:200px; */
	font-size: calc(1.5vw + 3px);
	color: red;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	text-shadow:  2px 2px 1px black, 3px 3px  3px blue;
	margin-top: 1px;
	background-image: url("../img/concr.jpg");
			border-style: solid;
    border-width: 2px;
    border-color: white black black white;
	/* padding-top:50px; */
	/* height:13vh; */

}
header h1 {
	/* font-size: 3vw; */
	padding-top: 4px;
	margin: 2px 0px 4px 0px;
	

}
header h2 {
	color: black;
	font-size: 0.9em;
	padding-bottom: 0px;
	margin-top: 0px;
	text-shadow: none;

}
header img {

	border-style: solid;
	border-width: 2px;
	border-color: white white gray gray;
	position: absolute;
	margin-top: -35px;
	margin-left: 20px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#logo  {
	width: 2%;
	height: 3%;
	/* width: 2vw; */
	/* height: 3vh; */
	max-width: 40px;
	min-width: 20px;
	
}

section {

	box-shadow: 5px 2px 13px 11px rgba(34, 60, 80, 0.71) inset;
	margin: 1vw 3vw 1vw 3vw;
	padding-top: 3vh;/*10px*/
	padding-left: 2vw;/*35px*/
	padding-right:2vw;/*5px*/
	padding-bottom: 1vh;/*3px*/
	background-color:#c4c2c2;
	background-image: url("../img/brick1.jpg");
	height: auto;
	width: 88.0vw;
	max-width: 1900px;
			border-style: solid;
    border-width: 2px;
    border-color: black white black black;
}

section a img {
	width: 8%;
	height: 8%;
	min-width: 60px;
	min-height: 60px;
	/* width: 8vw; */
	/* height: 10vh; */
	
	border-style: solid;
	border-width: 5px;
	border-color: #241970;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);	
}
section a img:hover {
	border-style: solid;
	border-width: 5px;
	border-color: red;
	border-radius: 8px;	
}

div {
	/* width: 600px; */
	width: 40vw;
	max-width: 600px;
	height: 70px;
	font-size: 1.3vw;
	height: auto;
	max-height:150px;
	background-color:none;
	background-image: url("../img/board.png")  ;
	background-repeat:  no-repeat;
	background-size: cover;
	border-radius: 8px;
	box-shadow:  10px 10px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 12px;
	text-align: center;
	margin: 5px auto;
			border-style: solid;
    border-width: 2px;
    border-color: white brown brown transparent;
		
}
div a {
	color: white;
	text-decoration: none;
	border-color: white;
	padding: 2px;
	margin: 40px 10px 0px 10px;
	text-shadow: 3px 2px 1px  #241970;
}
div a:hover {
color: black;
text-shadow: none;
}
div h2 {
	margin: 5px 10px;
}



footer {
	/* height:60px; */
	/* height:9vh; */
	/* max-height: 220px; */
	color:white;
	background-color: black;
	/* margin-top:110px; */
	margin-top: 2vh;	
}
footer a {
	display:inline-block;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: calc(1.3vw + 2px);
	background-image:url("../img/paper.jpg");
	background-color: #B0E0E6;
	/* line-height: 3rem; */
	line-height: 5vh;
	border-color: white;
	background-size: contain;
	border-width: 2x;
	border-radius: 2px;
	padding:2px 2px;
	margin: 0.5vh 1.5vw; 
}
footer li {
	    
    list-style-type: none; /* Убираем маркеры */
	margin: 5px 5px;
   }
   h4 {
	   font-size: calc(1.5vw + 2px);
   }

