
 aside {
	/* для того, чтобы блок скролился, нужно, чтобы размеры блока были заданы явно	 */
	overflow-y: auto;
	float:right;
	width:16%;
	max-width: 210px;
	height:800px; /*700px;*/
	/* background: #c7b39b url(../img/fon.gif); */
background-image: url("../img/brick.jpg");
	background-color:tan;
	text-align: center;
	padding: 0px 5px 0px 0px;
	margin-top: -40px;
}
aside a {
font-size: 150%;
text-decoration: none;
line-height: 1.5em;
}
li {
	margin: 0px 0px 0px -40px;
	padding: 10px 10px 10px 0px;
	list-style: none;/* убираем точки */
}


a {
	padding: 3px;
	margin-left: 1px;
	text-decoration: none;/* убираем подчеркивание ссылки */
}

header {
	font-size: 2.2em;
	color: red;
	/* background: #c7b39b url(../img/fon.gif); */
background-image: url("../img/brick.jpg");
	height:auto;
	padding: 2px;
}
header img {
	width: 2%;
	height: 3%;
	border-style: solid;
	border-width: 3px;
	border-color: white white gray gray;
	position: absolute;
	margin-top: -4px;
	margin-left: -50px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
header img:hover {
	background-color: #f794947b;
}

header a {
margin: 0px 0px 0px 50px;
padding-top: 0px;
}

    body {
      margin: 20px auto;
      padding: 0;
      width: 99%;
      font: 75%/120% Arial, Helvetica, sans-serif;
	  /* background: #c7b39b url(../img/fon.gif); */
background-image: url("../img/brick.jpg");
	  background-color:tan;
    }

    h2 {
      font: bold 190%/100% Arial, Helvetica, sans-serif;
      margin: -15px 0px 0px 350px;
    }

    h2 em {
      font: bold 80%/100% Arial, Helvetica, sans-serif;
      color: red; /* #999999- 'это серый */
    }
	

    /* #largeImg { */
	  /* overflow-y: auto;	 */
	  /* width: 80%;  */
      /* height: auto; */
	  /* margin: 10px 0px 2px 20px; */
      /* padding: 2px; */
	  /* box-shadow: 7px 7px 10px 1px rgba(0, 73, 112, 0.7); */
    /* } */
		p {
text-align: center	
	}
	
	    #largeImg {
	  overflow-y: auto;	
      border: solid 2px #ccc;
	  width: auto;
	  max-width: 970px;	  
      height: 65%;
	  max-height: 620px;
      margin: 10px 0px 2px 20px;
	  box-shadow: 15px 15px 10px 1px rgba(0, 73, 112, 0.7);
    }

    .thumbs img {
      /* border: solid 4px #ccc; */
	     border: solid 2px #ccc;
      width: 150px;/*100px;*/
      height: 100px;/*100px;*/
      padding: 2px 0px;
	  /* box-shadow: 5px 5px 10px 1px rgba(0, 73, 112, 0.7); */
	  box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    }
	.thumbs img:hover {
      /* border-color: #241970;  */
	  /* border-radius: 10px; */
	  border: none;
	  width: 162px;/*100px;*/
      height: 112px;/*100px;*/
	  padding: 0px;
	 /* box-shadow: -6px -6px 10px 1px rgba(0, 73, 112, 0.7); */
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 1),-23px 0 20px -23px rgba(0, 0, 0, .8),23px 0 20px -23px rgba(0, 0, 0, .8),0 0 40px rgba(0, 0, 0, .1) inset;

    }
	
	/* #back { */
	/* margin: -100px 0px 0px 35px; */
/* } */
	
	input {
	font-size: 60%;
	margin: -57px 0px 0px 0px;
	/* margin-bottom: 35px; */
	padding-top: 0px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
	
input:hover {
	 background-color: #f794947b;
}


	
	#toTop {
	color: transparent;
	display: block;
	bottom:10%;
	right: 185px;
	border-style: dashed;
    border-width: 2px;
    border-color: transparent;
    width: 35px;
    height: 35px;
	position: fixed;
    background:url(../img/up1.png) no-repeat;
	opacity: 0.5;
	background-size: cover;
	z-index: 5;
}

#toTop span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#toTop:hover {
	border: none;
}
#top1 {
	font-size: 350%;
	position: fixed;
	bottom:10%;
	right: 22px;
}
 /* mark { */
	/* border-style: solid; */
	/* border-width: 2px; */
	/* border-color: red; */
	/* background:  #241970; */
	/* color: white; */
	/* box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75); */
	/* padding: 1px 4px 5px 4px; */
	/* } */
 /* mark:hover { */
	/* border-style: solid; */
	/* border-width: 2px; */
	/* border-color: #241970; /*red;*/ 

	/* background-color: red; /*#241970;*/ 
	/* color: #241970; */
/* } */