body {
	background-image: url("../img/brick.jpg");
	/* width: 95vw; */
	display: grid;
	grid-template-areas:
	"header aside"
	"section aside"
	"article aside";
	/* grid-template-rows: 17% 20% auto; */
	grid-template-rows: 16vh 22vh auto;
	grid-template-columns: 71vw  auto;
	grid-gap: 5px;
	height: 100vh;
	margin-top: 0;
}

#head {
	grid-area: header;
}
#model {
	grid-area: section;
}
#main {
	grid-area: article;
}
#side {
	grid-area: aside;
	/* max-height: 900px; */
}

header, section, article {
  padding: 10px;
  /* background: gold; */
  background-image: url("../img/brick.jpg");
}


header {
position: fixed;
top: 3px;
left:0;
transition: top 0.2s ease-in-out;
width: 71vw;
height: calc(14vh - 20px);
	color: red;
	/* background: linear-gradient(to bottom, #ffffff 50%, #ffffff 50%, rgba(255, 255, 255, .0));/* сверху белая полоса на 50%, затем градиент к прозрач.*/
	background-image: url("../img/concr.jpg");
	margin: 0 0 0.1vh 0.1vw;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 0 0 0 0;

}
header img {
	position: fixed;
	top:  70px; 
	left: calc(8vw + 20px); 
	z-index:99;
	border-style: solid;
    border-width: 2px;
    border-color: white white gray gray;
	margin-top: -55px;
	/* margin-left: 20px; */
	margin-left: -50px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
header img:hover {
	background-color: #f794947b;
}
header a {
	text-decoration: none;
	color: white;
	line-height: 0.2em;
	font-size: 0px;
	margin: 0 15px;
	padding: 0px 0px;
	background-color:#191970;
	border: none;	
}


header a img {
	width:calc(1.5vw + 10px);
	height:calc(4vh - 5px);
}
h1 {
	font-size: calc(1.5vw + 2px);
	color:red;
	text-align: center;
	margin-top: 15vh;
}



header a h1 {
	font-size: calc(3.1vw + 8px);/* 2.5em */
	color:red;
	text-align: center;
	margin: -5px 0px 10px 0px;
	padding: 10px 10px 20px 10px;
	padding-bottom:2vh;
	text-shadow:  3px 3px 2px black, 2px 2px 0.1em blue;
}
   li {
    list-style-type: none; /* Убираем маркеры */
   }
   
header a h2 {
	font-size: calc(1.4vw + 3px);
	margin: -10px;
	color: white;
}
span {
	font-weight: bold;
	font-size: calc(2vw + 2px);
}



 a {
	/*#4f0070- темно фиолетовый цвет*/ 
	text-decoration: none;
	color: white;
	border-style: solid;
    border-width: 3px;
    border-color: blue; 
	/* line-height: 2.9em; */
	line-height: 6vh;
	font-size: calc(1.2vw + 2px);
	/* margin: 10px 15px; */
	margin: 1vh 1.8vw;
	padding: 3px 3px;
	background-color:#191970;
	border-radius: 8px;
	/* box-shadow: 5px 5px 10px 1px rgba(0, 73, 112, 0.7); */
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
a:hover {
	/* font-size: 1.3em; */
	border-width: 2px;
	background-color:red;
    border-color: #191970; 
	border-radius: 8px;
	cursor: pointer;
}
a img {

	width: 9%;
	height: 9%;
}


aside {
	text-align: center;
	width: 22vw;
	height:97.5vh;
	background-image: url("../img/stena.jpg");
	background-repeat: repeat-y;
	background-size: contain;
	/* box-shadow: 5px 2px 13px 11px rgba(34, 60, 80, 0.71) inset; */
	box-shadow: -10px 10px 15px 0px rgba(159, 65, 45, 0.8);
	position: fixed;
	top: 5px;
	right: 1%;
	margin-right: -49%;
	border-style:solid;
	border-color: brown;
	border-width: 0 0 3px 3px;
	border-radius: 8px;
	padding-left: 10px;
	padding-top: 0px;
	margin: 0.1vw 0.1vw 4vw 0.1vw;
	

}
aside ul  {
	margin-top: 20px;
	margin-right:10px;
    padding-inline-start: 1px;
}
aside ul span {
	color: white;
}

aside li {
	    
    list-style-type: none; /* Убираем маркеры */
	margin: 5px 5px;
   }
 aside li span {
	font-size: 2vw;
   }


aside a {
	color: black;
	font-weight: bold;
	font-size: calc(1.3vw + 3px);
	background-image:url("../img/paper.jpg");
	background-color: #B0E0E6;
	/* line-height: 3rem; */
	line-height: 7vh;
	border-color: white;
	background-size: contain;
	border-width: 2x;
	border-radius: 2px;
	padding:2px 2px;
	margin: 10px 0px; 
}
aside a:hover {
	color: white;
	font-size: calc(1.3vw + 2px);
	border-width: 3x;
	/* border: none; */
	padding: 4px 3px;
	background-image: none;
	background-color: red;
	border-radius: 0px;

}
#diag {
	color: blue;
}

#main section {
	/* margin: 1vw 1vw 4vw 1.5vw; */
	margin: 1vh 0vw 4vh 0.7vw;
	padding-top: 17px;
	padding-left: 20px;
	padding-bottom: 30px;
	background: white url(../img/tkan.jpg);		
	box-shadow: 10px 10px 10px 0px rgba(160, 82, 45, 0.8);
	border-width: 1px;
	border-radius: 8px;
	/* height: calc(auto + 100px); */

}
#start {
	display: block;
	margin-top: 40vh;
	color: red;
	/* color: transparent; */
}

#end {
	display: block;
	margin-top: 40vh;
	color: transparent;
}

#up {
	color: transparent;
	display: block;
	bottom: 10vh;
	right: 23vw;
	border-style: dashed;
    border-width: 2px;
    border-color: transparent;
    width: calc(2.5vw + 5px);
    height: 5vh;
	position: fixed;
    background:url(../img/up1.png) no-repeat;
	opacity: 0.5;
	background-size: contain;
	z-index: 5;
}

#up span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#up:hover {
	border: none;
}

#up1 {
	color: transparent;
	display: block;
	bottom: 70vh;
	right: calc(95vw - 30px);
	border-style: dashed;
    border-width: 2px;
    border-color: transparent;
    width: calc(2.5vw + 5px);
    height: 5vh;
	position: fixed;
    background:url(../img/up1.png) no-repeat;
	opacity: 0.5;
	background-size: contain;
	z-index: 5;
}

#up1 span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#up1:hover {
	border: none;
}


hr {
	margin: 3px 0px;
	height: 2px;
}
#model {
		box-shadow: 10px 10px 10px 0px rgba(139, 69, 19, 0.9);
		background: white url(../img/kozha.jpg);
		margin: 0.5vw 1vw 1vw 1.5vw;
		border-width: 1px;
		border-radius: 8px;
		height: auto;
 } 
#model a {
	font-size: calc(1.5vw + 2px);
	background-color: #006400;/*dark-green*/
}
#model a:hover  {
	background-color: red;
	/* font-size: 2.5em; */
}
/* здесь пробуем работать только со ссылкой КАТУШКА ЗАЖИГАНИЯ */
#ign {
	padding:5px;
	 border-width: 0px;
}
 .buttons {
	color: blue;
	position: fixed;
	top:30px;
	margin-left: 1vw;
	/* font-size: 220%; */
	font-size: calc(1.3vw + 2px);
	/* margin: -54px 0px 0px 45px; */
	padding-top: 0px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }
   .buttons:hover {
	 background-color: #f794947b;
 }
 
  .buttonsas {
	/* position: absolute; */
	color: blue;
	/* font-size: 100%; */
	font-size: calc(1vw + 1px);
	margin: 0px 0px 20px 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }
 .buttonsas:hover {
	 background-color: #f794947b;
	 color: white;
 }
 .ins mark {
	 background-color: #00BFFF;
 }

 span mark {
	 font-size: calc(1.5vw + 2px); 
 }
