body {
	background-image: url("../img/brick.jpg");
	/* width: 95vw; */
}


header {
	width: 75vw;
	height:13vh;
	color: red;
	/* background: #c7b39b url(../img/fon.gif); */
background-image: url("../img/wood.jpg");
margin: 0px 0px 0px 30px;
box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	/* box-shadow: inset 5px 5px 7px 0px rgba(50, 50, 50, 0.75); */
}
header img {
	position: absolute;
	border-style: solid;
    border-width: 2px;
    border-color: white white gray gray;
	margin-top: -50px;
	margin-left: -50px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
header img:hover {
	background-color: #f794947b;
}
header a {
	text-decoration: none;
	color: white;
	line-height: 0.2em;
	font-size: 0px;
	margin: 0 15px;
	padding: 0px 0px;
	background-color:#191970;
	border: none;	
}


header a img {
	width:2%;
	height:3%;
}
h1 {
	font-size: calc(1.7vw + 3px);
	color:red;
	text-align: center;
	margin-top: -10px;
}

header h1 {
	font-size: calc(2.6vw + 4px);
	color:red;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 20px 10px;
	text-shadow:  3px 3px 2px black, 2px 2px 0.1em blue;
}
header h2 {
	font-size: calc(1.4vw + 3px);
	margin: -35px 0px;
	color: black;
}
span {
	font-weight: bold;
	font-size: calc(2.2vw + 2px);

}
   li {
    list-style-type: none; /* Убираем маркеры */
   }


 a {
	/*#4f0070- темно фиолетовый цвет*/ 
	text-decoration: none;
	color: white;
	border-style: solid;
    border-width: 3px;
    border-color: blue; 
	line-height: 2.2em;
	/* font-size: 1.2em; */
	font-size: calc(1.1vw + 2px);
	margin: 0 15px;
	padding: 3px 3px;
	background-color:#191970;
	border-radius: 8px;
	/* box-shadow: 5px 5px 10px 1px rgba(0, 73, 112, 0.7); */
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
a:hover {
	/* font-size: 1.3em; */
	border-width: 1px;
	background-color:red;
    border-color: #191970; 
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
		/* cursor: none; */

}
a img {

	width: 9%;
	height: 9%;
}

/* ul { */
	/* padding-inline-start: 10px; */
/* } */
aside {
	text-align: left;
	/* width: 18%; */
	width: 18vw;
	max-width: 310px;
	height: auto;
	background-image: url("../img/board222.png");
	background-repeat:  no-repeat;
	background-size: cover;
	box-shadow: 10px 10px 15px 0px rgba(50, 50, 50, 0.8);
	position: fixed;
	right: 50%;
	margin-right: -49%;
	border-radius: 8px;
	padding-left: 0px;
	padding-top: 0px;
	/* margin-top: -95px; */
	margin-top: -90px;
	line-height: 2.5em;

}
aside ul  {
	margin-top: 20px;
    padding-inline-start: 10px;
}
aside li {
	/* max-height: 70px; */
	margin: 1px 10px;
	
}


aside a {
	color: black;
	font-weight: bold;
	/* font-size: 1em; */
	font-size: calc(1.2vw + 1px);
	background-image:url("../img/paper.jpg");
	background-color: #B0E0E6;
	line-height: 0.5em;/*межстрочный интервал 2.7em*/
	border-color: white;
	background-size: contain;
	border-width: 2px;
	border-radius: 2px;
	padding:2px 1px;
	margin: 0vw 0.5vw;
}
aside a:hover {
	color: white;
	/* font-size: 1em; */
	/* font-size: calc(1vw + 1px); */
	border: none;
	padding: 3px 3px;
	background-image: none;
	background-color: red;

}
section {
	position: relative;
	width: 76%;
	/* width: 1.0wv; */
	max-width: 1900px;
	height: auto;
	margin: 25px 50px 50px 30px;
	margin: 2vw 5vw 5vw 2vw;
	padding-top: 17px;
	padding-left: 20px;
	padding-bottom: 30px;
	/* background: #c7b39b url(../img/fonn.gif); */
		background: white url(../img/tkan.jpg);
		
	box-shadow: 10px 10px 10px 0px rgba(160, 82, 45, 0.8);
	border-width: 1px;
	border-radius: 8px;
}





#up {
	color: transparent;
	display: block;
	bottom: 5px;
	right: 100px;
	border-style: dashed;
    border-width: 2px;
    border-color: transparent;
    width: 35px;
    height: 35px;
	position: fixed;
    background:url(../img/up1.png) no-repeat;
	opacity: 0.5;
	background-size: cover;
	z-index: 5;
}

#up span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#up:hover {
	border: none;
}

#up1 {
	color: transparent;
	display: block;
	bottom: 70%;
	right: 95.5%;
	border-style: dashed;
    border-width: 2px;
    border-color: transparent;
    width: 35px;
    height: 35px;
	position: fixed;
    background:url(../img/up1.png) no-repeat;
	opacity: 0.5;
	background-size: cover;
	z-index: 5;
}

#up1 span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#up1:hover {
	border: none;
}



hr {
	margin: 5px 0px;
}
#model {
		box-shadow: 10px 10px 10px 0px rgba(139, 69, 19, 0.9);
		background: white url(../img/kozha.jpg);
		/* background-size: cover; */
 } 
#model a {
	/* font-size: 1.5em;/*величина ссылок в выборе марки*/
	font-size: calc(1.5vw + 1px);
	background-color: #006400;/*dark-green*/
}
#model a:hover  {
	background-color: red;
	/* font-size: 2.5em; */
}
/* здесь пробуем работать только со ссылкой КАТУШКА ЗАЖИГАНИЯ */
#ign {
	padding:5px;
	 border-width: 0px;
}
 .buttons {
	color: blue;
	position: relative;
	
	bottom: 7.5vh;
	/* font-size: 100%; */
	font-size: calc(1vw + 1px);
	/* margin: -54px 0px 0px 45px; */
	padding-top: 0px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }
   .buttons:hover {
	 background-color: #f794947b;
 }
 
  .buttonsas {
	/* position: absolute; */
	color: blue;
	/* font-size: 100%; */
	font-size: calc(1vw + 1px);
	margin: 0px 0px 20px 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }
 .buttonsas:hover {
	 background-color: #f794947b;
	 color: white;
 }
 .ins mark {
	 background-color: #00BFFF;
 }


